@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?sx2p5u');
  src:  url('../fonts/icons/icomoon.eot?sx2p5u#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?sx2p5u') format('truetype'),
    url('../fonts/icons/icomoon.woff?sx2p5u') format('woff'),
    url('../fonts/icons/icomoon.svg?sx2p5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-letter:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

