.main-header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
	position: fixed;
	top: 0;
	z-index: 99;
}

#main-logo {
	margin: 0;
	padding: 2px 0 0 2px;
}

#main-logo img {
	display: inline-block;
	margin-right: 10px;
}

#main-menu {
	font-size: 1.8rem;
	float: right;
	margin-top: 15px;
}

#main-menu a {
	color: #000;
}

#main-menu a:hover {
	color: #76237f;
}

#main-menu.nav-pills > li.active > a,
#main-menu.nav-pills > li.active > a:hover,
#main-menu.nav-pills > li.active > a:focus,
#main-menu.nav-pills > li > a:hover {
	background: none;
}

#main-menu.nav-pills > li.active > a,
#main-menu.nav-pills > li.active > a:hover,
#main-menu.nav-pills > li.active > a:focus {
	color: #76237f;
}

#mobile-menu-button {
	float: right;
	width: 44px;
	margin: 20px 0;
}

#mobile-main-menu {
	display: none;
	background-color: #000;
}

#mobile-main-menu a {
	display: block;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #eee;
	color: #aaa;
	text-align: center;
	text-transform: uppercase;
}

#mobile-main-menu li {
	margin: 0;
}

#mobile-main-menu a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #76237f;
}