html, body {
	height: 100%;
}

body {
	font-family: 'Lato';
}

.no-space,
.grid {
	padding: 0;
	overflow: hidden;
	position: relative;
}

.details {
	color: #fff;
	text-align: center;
	background-color: rgba(0,0, 0, 0.50);
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.3s;
}

.details:hover {
	background: none;
}

.details h2 {
	text-align: left;
	font-size: 2.5rem;
	text-transform: uppercase;
	width: 50%;
	margin-left: 10%;
	position: absolute;
	bottom: 10%;
}

.details .referencia {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 10%;
	bottom: 5%;
}

#home {
	color: #fff;
	margin-top: 90px;
}

#login {
	margin-top: 150px;
}

/*
#home .carrito {
	color: #fff;
	height: 432px;
	background-image: url('../img/carrito2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
}

#home .carrito table {
	width: 100%;
}

#home .carrito table th,
#home .carrito table td {
	padding: 2px 5px 2px 5px;
}
*/

#quienesSomos {
	font-size: 1.8rem;
	padding: 50px;
}

#tituloQuienesSomos {
	background-image: url('../administrador/images/inicio/DSC_4448.jpg');
	background-size: cover;
	background-position: center center;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tituloQuienesSomos span {
	color: #fff;
	font-size: 4.5rem;
	background-color: rgba(0, 0, 0, 0.50);
	padding: 50px;
}

.triangulo,
.triangulo-2 {
	width: 0; 
	height: 0; 
	border-left: 100px solid #fff;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	position: absolute;
	left: 0;
	top: 40%;
}

.triangulo-2 {
	border-left: 100px solid #2a2a2a;
	transform: rotate(180deg);
	left: -100px;
}


#misionVision {
	background-image: url('../administrador/images/inicio/DSC_4471.jpg');
	background-size: cover;
	background-position: -150px -200px;
	background-repeat: no-repeat;
}

#textoMisionVision {
	color: #fff;
	font-size: 1.5rem;
	background-color: #2a2a2a;
	padding: 100px 50px;
}

#historia {
	background-image: url('../administrador/images/inicio/DSC_4476.jpg');
	background-size: cover;
	background-position: center center;
	padding: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#historia span {
	color: #fff;
	font-size: 4.5rem;
	background-color: rgba(0, 0, 0, 0.50);
	padding: 50px;
}

#historia .triangulo {
	margin: auto;
	border-left: 100px solid #fff;
	transform: rotate(-90deg);
	left: 0;
	right: 0;
	bottom: -25%;
}

#relacionados {
	margin-top: 50px;
	margin-bottom: 50px;
}

#relacionados .articulo {
	text-align: center;
}

#relacionados .articulo a:hover,
#relacionados .articulo a:focus {
	text-decoration: none;
}

#relacionados .articulo .nombre {
	color: #000;
	font-weight: bold;
}

#relacionados .articulo .precio {
	color: #c44c4c;
}


footer {
	color: #fff;
	background-image: -webkit-linear-gradient(270deg,rgba(29, 29, 29, 0.80) 0%, rgba(29, 29,29, 0.80) 100%), url('../administrador/images/inicio/DSC_4444.jpg');
	background-image: -moz-linear-gradient(270deg,rgba(29, 29, 29, 0.80) 0%, rgba(29, 29,29, 0.80) 100%), url('../administrador/images/inicio/DSC_4444.jpg');
	background-image: -o-linear-gradient(270deg,rgba(29, 29, 29, 0.80) 0%, rgba(29, 29,29, 0.80) 100%), url('../administrador/images/inicio/DSC_4444.jpg');
	background-image: linear-gradient(180deg,rgba(29, 29, 29, 0.80) 0%, rgba(29, 29,29, 0.80) 100%), url('../administrador/images/inicio/DSC_4444.jpg');
	background-size: cover;
	background-position: center center;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer p {
	color: #fff;
}

footer a {
	color: #fff;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	font-size: 1.8rem;
	list-style-type: none;
}

#redes li a:hover,
#redes li a:focus {
	text-decoration: none;
}

#redes {
	margin: 0;
	padding: 0;
}

#redes li {
	font-size: 2.4rem;
	text-align: center;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	background-color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
}

#redes li a {
	color: #333;
}

#redes li a:hover,
#redes li a:focus {
	text-decoration: none;
}

#compartir {
	margin-top: 50px;
	margin-bottom: 30px;
}

#compartir a {
	color: #fff;
	font-size: 1.8rem;
	background-color: #333;
	padding: 10px;
}

#compartir a:last-child {
	margin-left: 20px;
}

#compartir a:hover,
#compartir a:focus {
	text-decoration: none;
}

#compartir span {
	margin-left: 10px;
}

#compartir #facebook {
	background-color: #3b5999;
}

#compartir #twitter {
	background-color: #6faedc;
}

#paleta {

}

#paleta ul {
	margin: 0;
	padding: 0;
}

#paleta ul li {
	list-style-type: none;
	width: 50px;
	height: 50px;
	background-color: #ccc;
	display: inline-block;
	border: solid 2px #ccc;
	border-radius: 10px;
	cursor: pointer;
}

#paleta ul #morado {
	background-color: #7b3e7b;
}

#paleta ul #amarillo {
	background-color: yellow;
}

#paleta ul #rojo {
	background-color: #b92525;
}



#bestSeller {
	padding-top: 50px;
	padding-bottom: 50px;
}

#bestSeller .articulo {
	text-align: center;
}

#bestSeller .articulo a:hover,
#bestSeller .articulo a:focus {
	text-decoration: none;
}

#bestSeller .articulo .nombre {
	color: #000;
	font-weight: bold;
}

#bestSeller .articulo .precio {
	color: #c44c4c;
}

#articulo {
	margin-top: 120px;
}

#articulo #images,
#articulo .miniaturas {
	border: solid 2px #ccc;
	border-radius: 5px;
	overflow: hidden;
}

#articulo .miniaturas {
	margin-top: 5px;
	cursor: pointer;
}

#addCar {
	font-size: 1.8rem;
	background-color: #8c1f9a;
	border: none;
	outline: none;
	border-radius: 0;
	margin-top: 20px;
}

#carrito {
	width: 350px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
	padding: 10px;
	position: fixed;
	top: 0;
	right: -350px;
	z-index: 100;
}

#articulo .descripcion {
	color: #fff;
	padding: 6px 0;
	border-bottom: solid 1px #8c1f9a;
	margin-top: 20px;
	margin-bottom: 10px;
}

#articulo .descripcion span {
	font-size: 1.8rem;
	background-color: #8c1f9a;
	padding: 10px;
	position: relative;
}

#carrito .btn-carrito {
	color: #fff;
	text-transform: uppercase;
	width: 90%;
	background-color: #8c1f9a;
}

#carrito .vaciar {
	margin-top: 5px;
	background-color: #000;
}

#openCar {
	font-size: 2rem;
	color: #fff;
	text-align: center;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-color: #8c1f9a;
	border-radius: 4px 0 0 4px;
	cursor: pointer;
	position: fixed;
	top: 120px;
	right: 0;
	z-index: 99;
}

.totalCarrito {
	width: 100%;
	margin: auto;
	position: absolute;
	bottom: 50px;
}

.eliminar {
	color: blue;
	cursor: pointer;
}
