<h1 id="colreorder">ColReorder</h1>
<p>ColReorder adds the ability for the end user to click and drag column headers to reorder a table as they see fit, to DataTables. Key features include:</p>
<ul>
<li>Very easy integration with DataTables</li>
<li>Tight integration with all other DataTables plug-ins</li>
<li>The ability to exclude the first (or more) column from being movable</li>
<li>Predefine a column order</li>
<li>Save staving integration with DataTables</li>
</ul>
<h1 id="installation">Installation</h1>
<p>To use ColReorder, first download DataTables ( <a href="http://datatables.net/download">http://datatables.net/download</a> ) and place the unzipped ColReorder package into a <code>extensions</code> directory in the DataTables package. This will allow the pages in the examples to operate correctly. To see the examples running, open the <code>examples</code> directory in your web-browser.</p>
<h1 id="basic-usage">Basic usage</h1>
<p>ColReorder is initialised using the <code>$.fn.dataTable.ColReorder</code> constructor. For example:</p>
<pre><code class="lang-js">$(document).ready( function () {
    $(&#39;#example&#39;).DataTable();

    new $.fn.dataTable.ColReorder( table );
} );
</code></pre>
<h1 id="documentation-support">Documentation / support</h1>
<ul>
<li>Documentation: <a href="http://datatables.net/extensions/colreorder/">http://datatables.net/extensions/colreorder/</a></li>
<li>DataTables support forums: <a href="http://datatables.net/forums">http://datatables.net/forums</a></li>
</ul>
<h1 id="github">GitHub</h1>
<p>If you fancy getting involved with the development of ColReorder and help make it better, please refer to its GitHub repo: <a href="https://github.com/DataTables/ColReorder">https://github.com/DataTables/ColReorder</a></p>
