<h1 id="-moono-skin">&quot;Moono&quot; Skin</h1>
<p>This skin has been chosen for the <strong>default skin</strong> of CKEditor 4.x, elected from the CKEditor
<a href="http://ckeditor.com/blog/new_ckeditor_4_skin">skin contest</a> and further shaped by
the CKEditor team. &quot;Moono&quot; is maintained by the core developers.</p>
<p>For more information about skins, please check the <a href="http://docs.cksource.com/CKEditor_4.x/Skin_SDK">CKEditor Skin SDK</a>
documentation.</p>
<h2 id="features">Features</h2>
<p>&quot;Moono&quot; is a monochromatic skin, which offers a modern look coupled with gradients and transparency.
It comes with the following features:</p>
<ul>
<li>Chameleon feature with brightness,</li>
<li>high-contrast compatibility,</li>
<li>graphics source provided in SVG.</li>
</ul>
<h2 id="directory-structure">Directory Structure</h2>
<p>CSS parts:</p>
<ul>
<li><strong>editor.css</strong>: the main CSS file. It&#39;s simply loading several other files, for easier maintenance,</li>
<li><strong>mainui.css</strong>: the file contains styles of entire editor outline structures,</li>
<li><strong>toolbar.css</strong>: the file contains styles of the editor toolbar space (top),</li>
<li><strong>richcombo.css</strong>: the file contains styles of the rich combo ui elements on toolbar,</li>
<li><strong>panel.css</strong>: the file contains styles of the rich combo drop-down, it&#39;s not loaded
until the first panel open up,</li>
<li><strong>elementspath.css</strong>: the file contains styles of the editor elements path bar (bottom),</li>
<li><strong>menu.css</strong>: the file contains styles of all editor menus including context menu and button drop-down,
it&#39;s not loaded until the first menu open up,</li>
<li><strong>dialog.css</strong>: the CSS files for the dialog UI, it&#39;s not loaded until the first dialog open,</li>
<li><strong>reset.css</strong>: the file defines the basis of style resets among all editor UI spaces,</li>
<li><strong>preset.css</strong>: the file defines the default styles of some UI elements reflecting the skin preference,</li>
<li><strong>editor_XYZ.css</strong> and <strong>dialog_XYZ.css</strong>: browser specific CSS hacks.</li>
</ul>
<p>Other parts:</p>
<ul>
<li><strong>skin.js</strong>: the only JavaScript part of the skin that registers the skin, its browser specific files and its icons and defines the Chameleon feature,</li>
<li><strong>icons/</strong>: contains all skin defined icons,</li>
<li><strong>images/</strong>: contains a fill general used images,</li>
<li><strong>dev/</strong>: contains SVG source of the skin icons.</li>
</ul>
<h2 id="license">License</h2>
<p>Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.</p>
<p>Licensed under the terms of any of the following licenses at your choice: <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>, <a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a> and <a href="http://www.mozilla.org/MPL/MPL-1.1.html">MPL</a>.</p>
<p>See LICENSE.md for more information.</p>
