<h1 id="colvis">ColVis</h1>
<p>ColVis adds a button to the toolbars around DataTables which gives the end user of the table the ability to dynamically change the visibility of the columns in the table:</p>
<ul>
<li>Dynamically show and hide columns in a table</li>
<li>Very easy integration with DataTables</li>
<li>Ability to exclude columns from being either hidden or shown</li>
<li>Save saving integration with DataTables</li>
</ul>
<h1 id="installation">Installation</h1>
<p>To use ColVis, first download DataTables ( <a href="http://datatables.net/download">http://datatables.net/download</a> ) and place the unzipped ColVis package into a <code>extensions</code> directory in the DataTables package. This will allow the pages in the examples to operate correctly. To see the examples running, open the <code>examples</code> directory in your web-browser.</p>
<h1 id="basic-usage">Basic usage</h1>
<p>ColVis is initialised using the <code>C</code> option that it adds to DataTables&#39; <code>dom</code> option. For example:</p>
<pre><code class="lang-js">$(document).ready( function () {
    $(&#39;#example&#39;).dataTable( {
        &quot;dom&quot;: &#39;C&lt;&quot;clear&quot;&gt;lfrtip&#39;
    } );
} );
</code></pre>
<h1 id="documentation-support">Documentation / support</h1>
<ul>
<li>Documentation: <a href="http://datatables.net/extensions/colvis/">http://datatables.net/extensions/colvis/</a></li>
<li>DataTables support forums: <a href="http://datatables.net/forums">http://datatables.net/forums</a></li>
</ul>
<h1 id="github">GitHub</h1>
<p>If you fancy getting involved with the development of ColVis and help make it better, please refer to its GitHub repo: <a href="https://github.com/DataTables/ColVis">https://github.com/DataTables/ColVis</a></p>
